services:
  app:
    image: webdevops/php-nginx:8.4
    container_name: laravel_app
    working_dir: /app
    volumes:
      - ./backend:/app
    environment:
      WEB_DOCUMENT_ROOT: /app/public
      PHP_DISPLAY_ERRORS: 1
      PROVISION_CONTEXT: "development"
      APPLICATION_USER_ID: 1000
      APPLICATION_GROUP_ID: 1000
      DB_CONNECTION: pgsql
      DB_HOST: postgres
      DB_PORT: 5432
      DB_DATABASE: laravel
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
    depends_on:
      - postgres
    ports:
      - "8000:80"
    networks:
      - laravel-network

  node:
    image: node:20
    container_name: laravel_node
    working_dir: /app
    volumes:
      - ./backend:/app
    command: sh -c "npm install && npm run dev"
    #command: tail -f /dev/null # Keep the container running
    ports:
      - "5173:5173"
    networks:
      - laravel-network

  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - laravel-network

networks:
  laravel-network:
    driver: bridge

volumes:
  pgdata: